@media screen and (width<=390px){
    .home .imgHome{
        width: 18rem;
        height: 17rem;
    }
    .intro h1{
        font-size: 1rem;
    }
}
@media screen and (width<=1136px) {
    .downloadCV{
        display:none
    }
    .downloadIcon{
        display:inline;
        font-size: 1em;
        color: blue;
    }
    
}

@media screen and (width<=1114px) {
    .linkBox a{
        font-size: 1em;
    }
    .intro h1 {
        font-size:2.5rem ;
    }
    
}
@media screen and (width<=814px){
    .linkBox a{
        font-size: .7em;
    }
    .firstBottom h2 , .downloadIcon{
        font-size: 1em ;

    }
    .firstBottom .CV{
        font-size: 1em;
    }
}

@media screen and (width<=788px) {
    .home .imgHome {
        width: 19rem;
    }
   
    .home .intro{
        width: 80%; 
    }
    .projectTitle h1 {
        font-size: 3rem;}
    .projectHeading {
            
            font-size: 2rem;
            margin: 3vh 1vw;
        }
    .projectImgGroup {
        height: 17rem;
    }

    .itemAbout p {
        
        font-size: 3rem;
    }
}

@media  screen and (width<=730px) {
    .linkBox{
        display: none; 
    }
       
}

@media screen and (width<=1045px){
    
    .about .itemAbout {
            
        width: 45vw;
    }
}
@media screen and (width<=731px){


.linkbar{
    display: block;
}
.downloadCV{
    display:inline;
}
}

@media screen and (width<=740px){
    .professionList {
        
        grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (width<=753px){
    .about {
        flex-wrap: wrap-reverse;
    }
    .about .itemAbout {
        width: 51vw;
    }
    .imgAbout {
       
        width: 55%;
    }

}

@media screen and (width<=694px){
    .educationEntityBox {  
    grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (width<=621px){
    .professionList {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (width<=448px) {
    .firstBottom .CV{
        font-size:.7em;
    }
    
}

@media screen and (width<=422px){
    .projectEntity {
        flex-wrap: wrap;
    }
}

@media screen and (width <= 437px){
    .firstTop{
        font-size: 1rem;
    }
    .firstBottom h2{
        font-size: .7rem;
    }
    
}
@media screen and (width <= 379px) {
    .home .imgHome {
        width: 14rem;
    }
}
