*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(16, 17, 16);
}
nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    margin:.9rem;

}
.firstTop{
    align-content: center;
    color: white;
margin: 1rem;
}
.firstBottom{
    display: flex;
    justify-content: space-between;
    WIDTH: 100vw;
   
    height: 4vh;
    
}
.linkBox{
    display: flex;
    justify-content: space-evenly;
    min-width: 75vw;
    height:fit-content;
    margin: 0 20px;
    flex-wrap: wrap;
    background-color: rgb(42, 41, 41);
}
.contactUs{
    height: fit-content;
    width: fit-content;
    color: white;
    background-color: #04b5f5;

}
.firstBottom  h3{
    color: white;
    position: absolute;
    top: 25%;
}
.firstBottom div{
    position: relative;
    width: 8vw;
    height: 4vh;
}
.links a{
    color: white;
    text-decoration: none;
    margin: auto;
    position: absolute;
    top: 25%;
    min-height: fit-content;

}
.contactUs{
    border-radius: 40px ;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2vh;
    width: 20vw}
.contactUs a{
    text-decoration: none;
    color: white;
}
.links{
    max-width: 1vh;
}

.home{
    height: 80vh;
    width: 80vw;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 45px;
    border: 2px solid white;


}
.home .intro{
    color: white;
}
.home img{
    width: 25%;
    height: 50%;
    border-radius: 20vh;
}
