*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --border: rgb(2, 198, 242);
   
    --bgcolor:rgb(24, 23, 23);
    --fontbtn:"Merriweather", serife;
    --borderhover: rgb(163, 0, 251);
    --bordershadow:rgb(251, 0, 255);

}
body{
    background-color: rgb(16, 17, 16);
}
nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    margin:.9rem;

}
.firstTop{
    align-content: center;
    color: white;
margin: 1rem;
font-size:2rem;

font-family: "Pacifico", cursive;

  font-style: normal;
}
.firstBottom{
    display: flex;
    justify-content: space-between;
    WIDTH: 100vw;
   
    height: 4vh;
    
}
.linkBox{
    display: flex;
    justify-content: space-evenly;
    min-width: 75vw;
    height:fit-content;
    margin: 0 20px;
    flex-wrap: wrap;
    background-color: rgb(42, 41, 41);
    border-radius: 4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contactUs{
    height: fit-content;
    width: fit-content;
    color: white;
    background-color: #04b5f5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.firstBottom  h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 4rem;
    color: white;
    position: absolute;
    top: 25%;
    font-size: 1rem; 
    margin-left: 6vh;
}
.firstBottom div{
    position: relative;
    width: 8vw;
    height: 4vh;
}
.links a{
    
    text-decoration: none;
    margin: auto;
    position: absolute;
    top: 25%;
    min-height: fit-content;
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  /* Top left shadow */
        2px -2px 0 #000,   /* Top right shadow */
        -2px 2px 0 #000,   /* Bottom left shadow */
        2px 2px 0 #000;    /* Bottom right shadow */

}
.links a:hover{
    color:blueviolet;

}
.contactUs{
    border-radius: 40px ;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2vh;
    width: 20vw}
.contactUs a{
    text-decoration: none;
    color: white;
}
.links{
    max-width: 1vh;
}

.home{
    min-height: fit-content;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:12vh auto;
    border-radius: 45px;
    border: 2px solid rgb(2, 198, 242);
    padding: 19vh 4vw;
background-color: rgb(31, 30, 30);
    transition: .3s;


}
.home .intro{
    
    color: white;
    width: 30vw;
    height: fit-content;

}
.intro h1{
    font-size: 3rem;
}
.home img{
    width: 25rem;
    height: 25rem;
    border-radius: 20vh;
}
.home div{
    height: fit-content;
    width: fit-content;
}

.home .myWork{
    width: fit-content;
    height: fit-content;
    background-color: rgb(2, 198, 242);
    border-radius: 4rem;
    padding: 10px;
    margin-top: 10vh;
    transform: 10s all linear;

    
}
.myWork a{
    margin: auto;
    text-decoration: none;
    color: white;
    font-family:"Merriweather", serife;
}
.home:hover{
    border-color: rgb(163, 0, 251);
    box-shadow: 0 0 4em -1em rgb(251, 0, 255);}
